<<<<<<< Updated upstream
img { 
max-width: 30%
}
=======
/* img { 
max-width: 30%
} */
>>>>>>> Stashed changes

p {
font-size: 9pt
}

<<<<<<< Updated upstream
=======
section {
    margin-top: 1rem;
}

>>>>>>> Stashed changes
h1,h3 {
font-size: 14pt
}

#first-article-title {
    font-size: 16pt
}

#first-article-praph {
    font-size: 11pt
}


.flex-container {
<<<<<<< Updated upstream
display:flex
=======
display: flex;
>>>>>>> Stashed changes
}

.space-between {
justify-content: space-between;

<<<<<<< Updated upstream
}
=======
}

.align-items-center {
    align-items: center;
}

.width-100 {
    width:100%;
}

.width-25 {
    width:25%;
 }

.center-text {
    text-align: center;
}

.featured-article {
    width:25%;
    background-color: burlywood;
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
 }


 .featured-article {
    padding:0.5rem;
    box-sizing: border-box;
 }
 .featured-article-inner {
    background-color: burlywood;
    padding:0.5rem;
 }
>>>>>>> Stashed changes
